
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(53, 53, 53);
}

h1 {
  color: rgb(25, 180, 231);
}

h2 {
  padding-bottom: 1rem;
  text-align: center;
}

h4 {
  color: green;
}

h5 {
  color:red;
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

hr {
  margin-bottom: 5%;
  width: auto;
}

/* ----------------Navbar-----------------*/
.navbar {
  padding:20px 10px 0px;
  display: flex;
  width: auto;
  margin: 0px 5vw;
  border-bottom: 1px solid lightgrey;
}

.navbar .links {
  margin: auto 0px auto  auto;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  color: grey;
  padding:10px;
}

.navbar a:hover{
  color: white;
  background-color: rgb(25, 180, 231);

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}


/* ----------------Main-----------------*/
.content {
  width: auto;
  margin: 2vw;
  padding:4vw;
  display: flex;
  justify-content: center;
}

.intro-title {
  margin-bottom: 75px;
  width: 70vw;
}


/* ----------------Product card-information and other cards-----------------*/
.card {
  border: 1px solid darkgrey;
  padding:3vw;
  margin:3vw;
  min-width: 50vw;
}

.profile {
  width: auto;
  display: flex;
}

.profile-image {
  align-self: center;
  width: 14rem;
}
.profile-desc {
  width: auto;
  padding-left:20px;
}





/* ----------------Forms-----------------*/
.bookinglist, .create-form {
  border:   1px solid  lightgrey;
  width:    auto;
  padding:  5vw;
}

.create-form, .update-form{
display: flex;
justify-content: center;
width: 50vw;
flex-flow: column wrap;
}

/* ----------------Buttons-----------------*/

.card-buttons{
border: 1px solid white;
display: flex;
align-items: center;
}

button
{
  border:grey 1px solid;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  font-size: 2.5vw;
  font-family: 'Quicksand', sans-serif;
  margin: 0px auto 10px;
  width: 100%;
  padding:10px; 
}

button:hover
{
  color: white;
  background-color: rgb(25, 180, 231);
  border:white 1px solid;
  font-family: 'Quicksand', sans-serif;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.delete-button:hover {
  background-color: red;
}



/* ----------------Login / Signup-----------------*/


.login-card, .signup-card{
  border:1px solid lightgray;
  width: auto;
  padding: 10vw;
}

/* ----------------Input fields-----------------*/

input {
  border:1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom: 1px solid grey;
  width: 100%;
  padding:10px 5px;
  margin:10px 0px;
}

.email {
  padding: 2px;;
  width: 90%;
  margin-top:0;
}

::placeholder {
  color:rgb(187, 187, 187);
}

/* ----------------Footer-----------------*/


.footer {
  margin: 0vw 4vw;
  text-align: center;
  color:lightgray;
  border-top:1px solid lightgray;
  border-left:0px;
  border-right:0px;
  border-bottom: 0px;
}

/* ----------------BREAKPOINTS-----------------*/
@media only screen and (max-width: 800px){

  .navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left:16px;
    width: auto;
    margin: 0px 5vw;
  }

  .navbar .links {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    color:black;
  }

}

@media only screen and (max-width: 540px)

{
  .navbar .links {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

}
}
