@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: rgb(25, 180, 231);
}

h2 {
  padding-bottom: 1rem;
}

h4 {
  color: green;
}

h5 {
  color:red;
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

hr {
  margin-bottom: 5%;
  width: 100%;
}

/* Navbar */
.navbar {
  padding:20px 10px 0px;
  display: flex;
  width: 100%;
  margin: 0px 5vw;
  border-bottom: 1px solid lightgrey;

}

.navbar .links {
  margin: auto 0px auto  auto;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  color: grey;
  padding:10px;
}

.navbar a:hover {
  color: white;
  background-color: rgb(25, 180, 231);
}

/* Main */
.content {
  width: 100%;
  margin: 2vw;
  padding:4vw;
  display: flex;
  justify-content: center;
}

.intro-title {
  margin-bottom: 75px;
  width: 70vw;
}


/* Själva innehållet på en card */
.card {
  border: 1px solid darkgrey;
  padding:3vw;
  margin:3vw;
  min-width: 50vw;
}


.profile {
  width: auto;
  display: flex;
}

.profile-image {
  align-self: center;
  width: 14rem;
}
.profile-desc {
  width: auto;
  padding-left:20px;
}

.bookinglist {
  border: 1px solid lightgray;
  padding:30px;
  margin:30px;
  width: 600px;
}


/* Button */
button {
  border:grey 1px solid;
  background-color: white;
  padding: 10px;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  margin:0px auto 10px;
  width: 100%;
}

button a:hover {
  background-color: lightblue;
}

form {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}


.login-card{
  border:1px solid lightgray;
  padding: 10%;
}

input {
  border:1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom: 1px solid grey;
  width: auto;
  padding:10px;
  margin:20px 0px;
}

.email {
  padding: 2px;;
  width: 90%;
  margin-top:0;
}

::placeholder {
  color:rgb(187, 187, 187);
}

/* BREAKPOINTS */
@media only screen and (max-width: 800px){
  .navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left:16px;
    width: 105vw;
    margin:0px;
  }

  .navbar .links {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

}

@media only screen and (max-width: 470px)

{.navbar .links {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

}}
