@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(53, 53, 53);
}

h1 {
  color: rgb(25, 180, 231);
}

h2 {
  padding: 0.5rem;
  text-align: center;
  font-size: 5vh;
}

h3 {
  padding-bottom: 1rem;
  text-align: center;
}

h4 {
  color: green;
}

h5 {
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

hr {
  margin-bottom: 5%;
  width: 100%;
  border: 1px solid rgb(213, 242, 252);
}

.intro {
  text-align: center;
}

p.message {
  text-align: center;
}

/* ----------------Navbar-----------------*/

.navbar {
  padding: 20px 10px 0px;
  display: flex;
  width: auto;
  margin: 0px 5vw;
  border-bottom: 1px solid lightgrey;
}

.navbar .links {
  margin: auto 0px auto auto;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  color: grey;
  padding: 10px;
}

.navbar a:hover {
  color: white;
  background-color: rgb(25, 180, 231);

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

/* ----------------Main-----------------*/

.content {
  width: auto;
  margin: 2vw;
  padding: 4vw;
  display: flex;
  justify-content: center;
}

.intro-title {
  margin-bottom: 10%;
  width: 100%;
}

/* ----------------Product card-information and other cards-----------------*/
.card {
  border: 1px solid darkgrey;
  padding: 3vw;
  margin: 3vw;
  min-width: 50vw;
}

.card:hover {
  box-shadow: 2px 5px 7px rgb(209, 228, 235);
  ;

  -webkit-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}

.profile {
  width: auto;
  display: flex;
}

.profile-image {
  align-self: center;
  width: 14rem;
}
.profile-desc {
  width: auto;
  padding-left: 20px;
}

.profile-name {
  font-size: 1.2rem;
}

/* ----------------Forms-----------------*/
.bookinglist,
.create-form {
  border: 1px solid lightgrey;
  width: auto;
  padding: 5vw;
}

.create-form,
.update-form {
  display: flex;
  justify-content: center;
  width: 50vw;
  flex-flow: column wrap;
}

/* ----------------Buttons-----------------*/

.card-buttons {
  border: 1px solid white;
  display: flex;
  align-items: center;
}

button {
  border: grey 1px solid;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  margin: 1%;
  width: 100%;
  padding: 10px;
}

.showmore-button {
  margin: 3vw;
  width: 82vw;
}

button:hover {
  color: white;
  background-color: rgb(25, 180, 231);
  border: white 1px solid;
  font-family: "Quicksand", sans-serif;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.delete-button:hover {
  background-color: red;
}

/* ----------------Login / Signup-----------------*/

.login-card,
.signup-card {
  border: 1px solid lightgray;
  width: auto;
  padding: 10vw;
  
}

/* ----------------Input fields-----------------*/

input {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0px;
}

.email {
  padding: 2px;
  width: 90%;
  margin-top: 0;
}

::placeholder {
  color: rgb(187, 187, 187);
}

/* ----------------Footer-----------------*/

.footer-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0vw 4vw;
  color: lightgray;
  border-top: 1px solid lightgray;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.f-column {
  width: 25%;
}

.footer-title {
  font-weight: bold;
  color: rgb(182, 182, 182);
}

.footer-copyright {
    color: gray;
    background-color: rgb(224, 243, 250);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ----------------BREAKPOINTS-----------------*/

@media only screen and (max-width: 800px) {
  
  .navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 16px;
    width: auto;
    margin: 0px 5vw;
  }

  .navbar .links {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: black;
  }

}

@media only screen and (max-width: 540px) {
  


  .card {
    border: 1px solid darkgrey;
    padding: 3vw;
    margin: 3vw;
    min-width: 50vw;

    justify-content: center;
    align-items:center;
    text-align: center;
  }

  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .navbar .links {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }

  .footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
  }

  .f-column {
    width: 50%;
  }

}
